[submodule "deps/benchbase"]
	path = deps/benchbase
	url = https://github.com/gliargovas/benchbase.git
[submodule "deps/DCPerf"]
	path = deps/DCPerf
	url = https://github.com/facebookresearch/DCPerf.git
[submodule "deps/Tailbench"]
	path = deps/Tailbench
	url = https://github.com/gliargovas/Tailbench.git
[submodule "deps/mutilate"]
	path = deps/mutilate
	url = https://github.com/leverich/mutilate.git
